* {
    text-align: center;
    color: white;
    background-color: black;
}

body {
    background-color: black;
}

#gamebox {
    background-color: darkred;
}

h2 {
    color: white;
}

h3 {
    color: white;
}